.noUi-horizontal {
  height: 10px;
}
.noUi-target {
  background: #fafafa;
  border-radius: 5px;
  border: 1px solid #d4d4d8;
  box-shadow: none;
}
.noUi-connect {
  background: #8aeb96;
  box-shadow: inset 0 1px 2px 0 rgb(0 0 0 / 0.25);
}
.noUi-handle {
  border: 1px solid #28bf3c;
  border-radius: 12px;
  background: #50d862;
  cursor: default;
  box-shadow: none;
}
.noUi-horizontal .noUi-handle {
  width: 24px;
  height: 24px;
  top: -9px;
}
.noUi-handle:after,
.noUi-handle:before {
  display: none;
}
